svg.icon {
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3277826 */
  src: 
       url('//at.alicdn.com/t/c/font_3277826_kpbmw8arib.woff2?t=1662127485531') format('woff2'),
       url('//at.alicdn.com/t/c/font_3277826_kpbmw8arib.woff?t=1662127485531') format('woff'),
       url('//at.alicdn.com/t/c/font_3277826_kpbmw8arib.ttf?t=1662127485531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxishoubing:before {
  content: "\e631";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-juejin:before {
  content: "\e60b";
}

svg.icon.festival-decoration {
    width: 3em;
    height: 3em;
    left: 2em;
    margin-bottom: -3em;
    display: block;
    z-index: 100;
    position: relative;
    -webkit-animation: sway 1s infinite ease-in-out alternate;
    animation: sway 1s infinite ease-in-out alternate;
}
@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(20deg);
    transform-origin: center top;
  }
  100% {
    -webkit-transform: rotate(-20deg);
    transform-origin: center top;
  }
}
@keyframes sway {
  0% {
    transform: rotate(20deg);
    transform-origin: center top;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: center top;
  }
}

/* 页脚蝴蝶振翅动画 */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}

@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candyhome.ttf'); /* 字体文件路径 */
  font-display : swap;
}

@font-face{
  font-family:'ZhuZiAWan' ;  /* 字体名自定义即可 */
  src:url('/fonts/ZhuZiAWan.ttf'); /* 字体文件路径 */
  font-display : swap;
}


h1#site-title {
  font-family: 'Candyhome', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif;*/
}

body {
  font-family: 'ZhuZiAWan', sans-serif;
  font-size: 15px;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.9);
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执睢�于完全一图流或����背景图对比色明�� */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层����明*/
[data-theme="dark"]
  #recent-posts > .recent-post-item{
      background: rgba(0, 0, 0, 0.5)!important;
    }

[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#page{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#archive{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#tag{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#category{
    background: rgba(0, 0, 0, 0.5)!important;
    }

.read-mode #recent-posts > .recent-post-item{
      background: rgba(158, 204, 171, 0.5)!important;
    }

.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#page{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#archive{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#tag{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#category{
    background: rgba(158, 204, 171, 0.5)!important;
    }

[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]
  .read-mode div#page{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]
  .read-mode div#archive{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]
  .read-mode div#tag{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]
  .read-mode div#category{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指�� */
input:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/input.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/i.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左��66px，只留一点箭头部�� */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

